 .u-section-1 {
  background-image: url("../images/food_3.jpg");
  background-position: 69.74% 96.15%;
  background-size: 180%;
}

.u-section-1 .u-sheet-1 {
  min-height: 860px;
}

.u-section-1 .u-custom-html-1 {
  margin-bottom: 60px;
  min-height: 584px;
  margin-top: 100px;
  color: white;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 660px;
  }

  .u-section-1 .u-custom-html-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 506px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 380px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 300px;
  }
}

