 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("../images/food_3.jpg");
  background-position: 100%;
}

.u-section-1 .u-sheet-1 {
  min-height: 877px;
}

.u-section-1 .u-container-layout-1 {
    margin-top: 60px;
    padding: 50px 300px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 115px;
  width: 800px;
  margin: 0;
}

.u-section-1 .u-btn-0 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 50px auto 0 345px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 50px auto 0 850px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -41px auto 60px 450px;
}
.form-control{
    color: black;
}
.news-form {
    border: 1px solid gray;
    border-radius: 5px;
    background-color: white;
    margin-right: 350px;
    margin-left: 300px;
    height: 300px;
}
.text {
    color: black;
}

table {
    font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
    font-size: 14px;
    text-align: center;}

th, td{
    color: white;}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }
}